.FilterPane {
  display: inline-block;
  flex-direction: column;
  width: 20%;
  background-color: brown;
}

.Buses {
  display: inline-block;
  flex-direction: column;
  width: 78%;
  margin-left: 2%;
}
