.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 132, 0.8)
    ),
    url("./assets/test.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logobox {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 45px;
}

.headerbox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading_primary {
  color: #fff;
  text-transform: uppercase;
}

.heading_primary_main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft;
  animation-duration: 2s;
}

.heading_primary_sub {
  margin-left: 10px;
  display: block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 22px;
  animation: moveInRight;
  animation-duration: 2s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.headerSearchBar {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 55px;
  border-radius: 32px;
  animation-name: moveInTop;
  animation-duration: 3s;
}

.headerSearchBarSection {
  border-radius: 32px;
  padding: 5px;
  padding-left: 15px;
  display: inline-block;
  height: 100%;
}

.headerSearchBarSection:hover {
  background-color: rgb(229, 247, 235);
}

.headerSearchBarLabel {
  font-family: serif;
  font-size: 15px;
  font-weight: 550;
  color: rgb(34, 88, 44);
  display: block;
  height: 40%;
}

.headerSearchBarInput {
  font-size: medium;
  border: none;
  outline: none;
  height: 60%;
  background-color: inherit;
}

.headerSearchBarButton {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border: none;
  /* top: 50%; */
  transform: translateY(-22%);
  margin-right: 5px;
  background-color: rgb(72, 179, 108);
  cursor: pointer;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
