.gap {
  gap: 0.5em;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.padding {
  padding: 0.66em;
}

.paddingSm {
  padding: 0.2em;
}

.paddingMdRight {
  padding-right: 0.4em;
}

.borderActive {
  border-color: dodgerblue;
}

.formWidth {
  width: 300px
}

.formBackground {
  background: #fefefe;
}
