.input {
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em;
  outline: none;
  font-family: "Segoe UI", Arial, sans-serif;
}

.input:focus {
  border: 0.1em solid dodgerblue;
  border-radius: 0.5em;
  padding: 0.5em;
  outline: none;
}

.inputSmall {
  width: 5em;
}

.inputMedium {
  width: 9.7em;
}

.inputLarge {
  width: 21.2em;
}
