@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700,900");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 20px;
}
::placeholder {
  color: rgb(20, 8, 8);
  font-size: medium;
  opacity: 1;
}

:-ms-input-placeholder {
  color: darkgray;
  font-size: medium;
}

::-ms-input-placeholder {
  color: darkgray;
  font-size: medium;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.align-items-center {
  align-items: center;
}

.justify-contents-center {
  justify-content: center;
}

.justify-contents-space-around {
  justify-content: space-around;
}

.justify-contents-space-between {
  justify-content: space-between;
}

.width-100 {
  width: 100%;
}

.border {
  border: 0.1em solid darkgray;
  border-radius: 0.5em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.5em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
